[Desktop Entry]
Type=Application
Name=Test Slot Throw
GenericName=CppDevTk test application
Comment=CppDevTk Test Slot Throw
Exec=/opt/cososys/bin/cppdevtk_test_slot_throw
Icon=cppdevtk
Categories=Utility;
Terminal=false
